@(adminheader : Html)(implicit request: RequestHeader)
	@adminheader
	
<style>
body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <div class="admin-outer">
        	<div class="panel panel-primary">
        		<div class="panel-heading">QSenti Main</div>
        		<div class="panel-body">                 
              
        		</div>
        	</div>
        </div>
    </body>

</html>
