@import controllers._
@(adminheader : Html, dataSourceList : List[ConfigurationInfoList], adminfooter : Html )
@adminheader

<section class="content-header">
    <h1>
        Datasource
    </h1>
</section>

<section class="content">            
                    
    <div class="row">

        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Datasource List</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Data Source</th>
                            <th>Actions</th>
                            <th style="width: 40px">Status</th>
                        </tr>

                        @dataSourceList.zipWithIndex.map { case (config, index) =>

                            <tr>
                            <td>@{index+1}</td>
                            <td>
                                <a href='@routes.AdminArea.dataSourceDetailedView(GeneralFunctions.getMD5Hash(config.dsid.toString))'> @config.accountTitle 
                                </a>
                            </td>

                            <td>
                                <a href="@routes.AdminArea.updateStreamingStatus(GeneralFunctions.getMD5Hash(config.dsid.toString))" class="btn btn-primary">  

                                @if(config.processid > 0){
                                    Stop Streaming
                                } else {
                                    Start Streaming
                                } 
                                </a>
                                <a href="@routes.AdminArea.deleteDataSource(GeneralFunctions.getMD5Hash(config.dsid.toString))" class="btn btn-danger"> Delete </a>
                            </td>
                            <td>
                                @if(config.processid > 0){ 
                                    <span class="badge bg-green">Running</span>
                                } else {
                                    <span class="badge bg-red">Stopped</span>
                                }
                            </td>
                        } 
                    </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>

@adminfooter