@(adminheader : Html, configurationForm : Form[ConfigurationInfo], message : String, adminfooter : Html )
	
@adminheader
	
<!--   

@helper.select(field = configurationForm("accountType") , options = Seq("twitter"->"Twitter", "facebook"->"Facebook", "linkedIn"->"Linked In"), '_showConstraints -> false, 'required -> "required", '_label -> "Data Source"  )
@helper.inputText(configurationForm("accountTitle") , '_showConstraints -> false, 'required -> "required", '_label -> "DataSource Name" )
@helper.inputText(configurationForm("tablename") , '_showConstraints -> false, 'required -> "required", '_label -> "Table Name" )



@helper.inputText(configurationForm("accessKey") , '_showConstraints -> false, 'required -> "required", '_label -> "Access Key" )
@helper.inputText(configurationForm("accessSecret") , '_showConstraints -> false, 'required -> "required", '_label -> "Access Secret" )
@helper.inputText(configurationForm("consumerKey") , '_showConstraints -> false, 'required -> "required", '_label -> "Consumer Key" )
@helper.inputText(configurationForm("consumerSecret") , '_showConstraints -> false, 'required -> "required", '_label -> "Consumer Secret" )
@helper.textarea(configurationForm("keywords") , '_showConstraints -> false, 'required -> "required", '_label -> "Keywords" )


<input type="submit" value="Save" class="btn btn-primary" /> 

-->

<section class="content-header">
	<h1>
		DataSource Configuration
	</h1>
</section>

<section class="content">            
					
	<div class="row">

		<div class="col-md-8">
			@helper.form(action = routes.AdminArea.doConfiguration()){				
			<!-- general form elements disabled -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Basic</h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<form role="form">
						<div class="form-group">
						@helper.select(
							field = configurationForm("accountType") , 
							options = Seq(
								"twitter"->"Twitter", 
								"facebook"->"Facebook", 
								"linkedIn"->"Linked In"
							), 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'_label -> "Data Source"  
						)
						</div>

						<div class="form-group">
						@helper.inputText(configurationForm(
							"accountTitle") , 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'placeholder -> "Enter Datasource Name",							'maxlength -> "30",
							'id -> "ds-name",
							'onkeyup -> "alpha()",
							'_label -> "DataSource Name" 
						)
						</div>
						<div class="form-group" id="ds-name-error">
						</div>

						<div class="form-group">
						@helper.inputText(
							configurationForm("tablename"), 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'placeholder -> "Enter Table Name",
							'id -> "tbl-name",
							'maxlength -> "15",
							'onkeyup -> "nospace()",
							'_label -> "Table Name" 
						)
						</div>
						<div class="form-group" id="tbl-name-error">
						</div>

						<div class="box-header">
							<h3 class="box-title">Authentication</h3>
						</div><!-- /.box-header -->


						<div class="form-group">
						@helper.inputText(
							configurationForm("accessKey") , 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'maxlength -> "50",
							'id -> "access-key-name",
							'onkeyup -> "alphanum1()",
							'placeholder -> "Enter Access Key",
							'_label -> "Access Key" 
						)
						</div>

						<div class="form-group" id="access-key-error">
						</div>

						<div class="form-group">
						@helper.inputText(
							configurationForm("accessSecret") , 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'maxlength -> "45",
							'id -> "access-secret-name",
							'onkeyup -> "alphanum2()",
							'placeholder -> "Enter Access Secret",
							'_label -> "Access Secret" 
						)
						</div>
	
						<div class="form-group" id="access-secret-error">
						</div>
						
						<div class="form-group">
						@helper.inputText(
						 	configurationForm("consumerKey") ,
						 	'_showConstraints -> false, 
						 	'required -> "required", 
						 	'class -> "form-control",
						 	'maxlength -> "25",
						 	'id -> "consumer-key-name",
							'onkeyup -> "alphanum3()",
							'placeholder -> "Enter Consumer Key",
						 	'_label -> "Consumer Key" 
			
						)
						</div>
						
						<div class="form-group" id="consumer-key-error">
						</div>

						<div class="form-group">
						@helper.inputText(
							configurationForm("consumerSecret") , 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'maxlength -> "50",
							'id -> "consumer-secret-name",
							'onkeyup -> "alphanum4()",
							'placeholder -> "Enter Consumer Secret",
							'_label -> "Consumer Secret" 
						)
						</div>

						<div class="form-group" id="consumer-secret-error">
						</div>
						
						
						<div class="form-group">
						@helper.textarea(
							configurationForm("keywords") , 
							'_showConstraints -> false, 
							'required -> "required", 
							'class -> "form-control",
							'id -> "all-keywords",
							'onkeyup -> "alphanum5()",
							'placeholder -> "Enter Keywords",
							'_label -> "Keywords" 
						)
						</div>
						<div class="form-group" id="keywords-error">
						</div>

						 <input type="submit" value="Save" class="btn btn-primary" /> 

						<!-- textarea -->
						<!-- <div class="form-group">
							<label>Textarea</label>
							<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
						</div>

						<div class="form-group has-error">
							<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label>
							<input type="text" class="form-control" id="inputError" placeholder="Enter ...">
						</div> -->

					</form>
				</div><!-- /.box-body -->
				}
			</div><!-- /.box -->

		</div> <!-- /.column -->

	</div> <!-- /.row -->

</section>

<script type="text/javascript">
	function alpha()
		{  

			var field = document.getElementById('ds-name');
			var uname = field.value;
 		    // var letters = /^[a-zA-Z]+$/;
 		    var letters = /^[a-zA-Z\/\s]*$/;
 		    // var letters = /\S{10,}/;
		if(uname.match(letters))
		{
			var er = document.getElementById('ds-name-error');
		    er.innerHTML = '';
		}
		else
		{
		 var er = document.getElementById('ds-name-error');
		 er.innerHTML = 'Please input alphabet characters only';
		}
		}
</script>

<script type="text/javascript">
	function nospace()
		{
			var field1 = document.getElementById('tbl-name');
			var tname = field1.value;
			var letters1 = /^[a-zA-Z\/]*$/;
			var letters2 = /[0-9]/;

			if (tname.match(letters1)) {
				var err = document.getElementById('tbl-name-error');
				err.innerHTML = '';
			}
			else if (tname.match(letters2)){
				var err = document.getElementById('tbl-name-error');
				err.innerHTML = 'Please input alphabet characters only ';

			}
			else{
				var err = document.getElementById('tbl-name-error');
				err.innerHTML = ' Do not use space '
			}
		}
</script>
<script type="text/javascript">
	function alphanum1()
		{  	


			var field = document.getElementById('access-key-name');
			var uname = field.value;
 		    var letters = /^[a-zA-Z0-9\/\-/]*$/;
		if(uname.match(letters))
		{
			var er = document.getElementById('access-key-error');
		    er.innerHTML = '';
		}
		else
		{
		 var er = document.getElementById('access-key-error');
		 er.innerHTML = 'Please input alphanumeric only';
		}
		}
</script>
<script type="text/javascript">
	function alphanum2()
		{  	


			var field = document.getElementById('access-secret-name');
			var uname = field.value;
 		    var letters = /^[a-zA-Z0-9\/\-/]*$/;
		if(uname.match(letters))
		{
			var er = document.getElementById('access-secret-error');
		    er.innerHTML = '';
		}
		else
		{
		 var er = document.getElementById('access-secret-error');
		 er.innerHTML = 'Please input alphanumeric only';
		}
		}
</script>
<script type="text/javascript">
	function alphanum3()
		{  	


			var field = document.getElementById('consumer-key-name');
			var uname = field.value;
 		    var letters = /^[a-zA-Z0-9\/\-/]*$/;
		if(uname.match(letters))
		{
			var er = document.getElementById('consumer-key-error');
		    er.innerHTML = '';
		}
		else
		{
		 var er = document.getElementById('consumer-key-error');
		 er.innerHTML = 'Please input alphanumeric only';
		}
		}
</script><script type="text/javascript">
	function alphanum4()
		{  	


			var field = document.getElementById('consumer-secret-name');
			var uname = field.value;
 		    var letters = /^[a-zA-Z0-9\/\-/]*$/;
		if(uname.match(letters))
		{
			var er = document.getElementById('consumer-secret-error');
		    er.innerHTML = '';
		}
		else
		{
		 var er = document.getElementById('consumer-secret-error');
		 er.innerHTML = 'Please input alphanumeric only';
		}
		}
</script>
<script type="text/javascript">
	function alphanum5()
		{  	


			var field = document.getElementById('all-keywords');
			var uname = field.value;
 		    var letters = /^[a-zA-Z0-9\/\,/]*$/;
		if(uname.match(letters))
		{
			var er = document.getElementById('keywords-error');
		    er.innerHTML = '';
		}
		else
		{
		 var er = document.getElementById('keywords-error');
		 er.innerHTML = 'Please input alphanumeric or coma';
		}
		}
</script>
	
@adminfooter