@(adminheader : Html, webServiceAPIForm : Form[WebServiceInfo], serviceList : List[ServiceList])
	@adminheader


        <div class="admin-outer">
        	<div class="panel panel-primary">
        		<div class="panel-heading">New Service API</div>
        		<div class="panel-body">   
              <div class="col col-sm-6">
               
              @helper.form(action = routes.WebServices.doCreateServiceAPI){
                @helper.inputText(webServiceAPIForm("serviceName"), '_label -> "Service Name", '_showConstraints -> false, 'required -> "required")
                @helper.textarea(webServiceAPIForm("serviceQry"), '_label -> "Query", '_showConstraints -> false, 'required -> "required")                
               <input type="submit" value="Submit" class="btn btn-primary">
              }
             
              </div> 
              <div class="col col-sm-6">
               <span class="list-group">
                @serviceList.map{ service =>
                  <span class="list-group-item"  data-toggle="popover" data-placement="left" title="API URL" data-content="@routes.WebServices.apiGenerator(GeneralFunctions.getMD5Hash(service.apiid.toString))" > <a href="@routes.WebServices.doRemoveService(GeneralFunctions.getMD5Hash(service.apiid.toString))" class="btn btn-danger">x</a> @service.serviceName  </span>
                }
                </span>
              </div>
        		</div>
        	</div>
        </div>
    </body>
      <script>
$(".list-group-item").click(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
</html>