@(adminheader : Html, webServiceAPIForm : Form[WebServiceInfo], serviceList : List[ServiceList], adminfooter : Html)
	@adminheader

  <!-- Content Header (Page header) -->
<!--     <section class="content-header">
        <h1>
            Blank page
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section> -->

    <!-- Main content -->
    <section class="content">


        <div class="admin-outer">
          <div class="panel panel-primary">
            <div class="panel-heading">New Service API</div>
            <div class="panel-body">   
              <div class="col col-sm-6">
               
              @helper.form(action = routes.WebServices.doCreateServiceAPI){
                @helper.inputText(webServiceAPIForm("serviceName"), '_label -> "Service Name", '_showConstraints -> false, 'required -> "required")
                @helper.textarea(webServiceAPIForm("serviceQry"), '_label -> "Query", '_showConstraints -> false, 'required -> "required")                
               <input type="submit" value="Submit" class="btn btn-primary">
              }
             
              </div> 
              <div class="col col-sm-6">
               <span class="list-group">
                @serviceList.map{ service =>
                  <span class="list-group-item"  data-toggle="popover" data-placement="left" title="API URL" data-content="@routes.WebServices.apiGenerator(GeneralFunctions.getMD5Hash(service.apiid.toString))" > <a href="@routes.WebServices.doRemoveService(GeneralFunctions.getMD5Hash(service.apiid.toString))" class="btn btn-danger">x</a> @service.serviceName  </span>
                }
                </span>
              </div>
            </div>
          </div>
        </div>


    </section><!-- /.content -->



  
      <script>
$(".list-group-item").click(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
@adminfooter