@(privilageList : List[(Any,String)])
	<div class="wrapper"></div><div class="wrapper"></div>
	@helper.form(action = routes.UserManager.doRemovePrivilage){
		<table class="table table-hover">
			@privilageList.map{ privilage =>
				
			<tr>
				<td><input type="checkbox" name="hashId" value="@GeneralFunctions.getMD5Hash(controllers.WebServices.someExtractor(privilage._1))"></td>
				<td>@privilage._2</td>
				
			</tr>
			}
			@if(privilageList.isEmpty){
			<tr>
				<td>No Item Found</td>
			</tr>
			}
		</table>
		<input type="submit" value="Remove Charts" class="btn btn-danger">
	}
	